<div class="filter-container">
    <div class="filter" id="department-filter">
    </div>
    <div class="filter" id="monthYear-filter">
    </div>
</div>
<div class="kpi-container">
    <div class="kpi" id="daliy-admissions">
    </div>
    <div class="kpi" id="icu-mortalities">
    </div>
    <div class="kpi" id="patient-hyp">
    </div>
</div>
<div class="kpi-container">
    <div class="kpi" id="readmissions">
    </div>
    <div class="kpi" id="unplanned">
    </div> 
    <div class="kpi" id="central-line">
    </div>
</div>